<div class="card-container p-1">
  <div class="card-body p-4">
    <div class="text-primary">
      <h4>
        <mat-icon class="size-icon-title mr-2">folder_open </mat-icon> HISTÓRICO DRONES
      </h4>
    </div>
    <div *ngIf="!historyData">
      <div class="button-container">
        <button *ngFor="let year of years" mat-raised-button color="secondary" (click)="fetchHistory(year)">
          CONSULTAR HISTÓRICO {{ year }}
        </button>
      </div>
    </div>
    <div *ngIf="historyData" class="overflow-auto">
      <div *ngIf="dataSource && dataSource.data.length === 0">No hay datos</div>
      <table *ngIf="dataSource && dataSource.data.length > 0" mat-table [dataSource]="dataSource" >

        <!-- Dynamic columns -->
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>{{ columnTranslations[column] }}</th>
          <th mat-header-cell *matHeaderCellDef>{{ columnTranslations[column] }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>

        <!-- Header and rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'total-row': row.property === 'Total'}"></tr>
      </table>
    </div>
  </div>
  <div *ngIf="historyData" class="row">
    <div class="row justify-content-between m-3">
      <button class="transparent-blackground white-border rounded-button" mat-raised-button (click)="resetView()"
        color="primary" type="button">
        Volver a la lista
      </button>
    </div>
    <div class="row justify-content-between m-3">
      <button class="transparent-blackground white-border rounded-button" mat-raised-button
        (click)="downloadHistory(selectedYear)" color="primary" type="button">
        Descargar histórico
      </button>
    </div>
  </div>
</div>
