.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px;
  background-color: blue;
  color: white;
}

table.mat-table .mat-header-cell{
  min-width: 130px;
  text-align: center;
}

.total-row {
  background-color: #87b017;
  color: white;

  td {
    font-weight: bold;
    color: white;
  }
}

