.container-login{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../../assets/img/Atech_Background.1.jpg");
    background-size: 100% 100%;
    margin: 0;
    padding: 0;

    .row{
        margin: 0;
    }
    
    .card-login{
        width: 100%;
        margin: 0;
        padding: 0;
        height: -webkit-calc(100% - 100px);
        height: -moz-calc(100% - 100px);
        height: -o-calc(100% - 100px);

        .image-login{
            position: relative;
            max-width: 100%;
            padding: 0;
            text-align: right;

            img{
                max-width: 100%;
                height: 100%;
                min-height: 100%;
            }

            .logo-login{
                position: absolute;
                left: 80px;
                top: 120px;

                img{
                    min-width: 100%;
                    min-height: 100%;
                }
            }
        }

        .form-login{
            // display: flex;
            align-items: center;
            margin: 0;
            width: 95%;
            background-color: white;

            .text-login{
                margin-left: 10px;
            }

            .title{
                margin-top: 30px;
                width: 100%;
            }

            .forgotPass{
                margin: 10px 0;

                button{
                    text-align: right;
                    font-weight: bold;
                }
            }

            .buttonContinue{
                button{
                    border-radius: 15px;
                }
            }
        }
    }
}