<div class="container-login row justify-content-center">
    <div class="initial-header col-12">
        <img src="../../../assets/img/logo.png" alt="">
    </div>
    <div class="card-login col-12 col-sm-9 col-md-6">
        <div class="row">
            <div class="image-login col-6">
                <img src="../../../assets/img/Atech_Register.2.jpg" alt="">
                <div class="logo-login">
                    <img src="../../../assets/img/TasaApp.png" alt="">
                </div>
            </div>
            <div class="form-login col-12 col-sm-10 col-md-6">
                <div class="text-login">
                    <h2 class="title">
                        Iniciar sesión
                    </h2>
                    <p>
                        Ingresa tu Email o Usuario junto con tu contraseña
                    </p>
                </div>
                <form #myForm="ngForm" [formGroup]="loginForm">
                    <div class="row justify-content-center">
                        <div class="containerForm col-12 ">
                            <mat-form-field class="col-12 formOutline" appearance="fill">
                                <input appAutofocus matInput placeholder="Correo"
                                    formControlName="email" type="text" class="inputOutline" required
                                    (focus)="focusLogin()">
                            </mat-form-field>
                            <div class="warning" *ngIf="loginForm.controls.email.errors?.required && save">
                                Este campo es requerido
                            </div>
                            <div class="warning" *ngIf="loginForm.controls.email.errors?.maxlength && save">
                                Máximo 60 caracteres
                            </div>
                        </div>
                        <div class="containerForm col-12">
                            <mat-form-field class="col-12 formOutline" appearance="fill">
                                <input matInput placeholder="Contraseña"
                                    formControlName="password" class="inputOutline" required
                                    [type]="hideLogin ? 'password' : 'text'" (focus)="focusLogin()">
                                <button mat-icon-button matSuffix (click)="hideLogin = !hideLogin"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideLogin">
                                    <mat-icon>{{hideLogin ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <div class="warning"
                                *ngIf="loginForm.controls.password.errors?.required && save">
                                Este campo es requerido
                            </div>
                            <div class="warning"
                                *ngIf="loginForm.controls.password.errors?.maxlength && save">
                                Máximo 60 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="forgotPass">
                        <button mat-button class="col-12 col-sm-12"
                            (click)="forgotPass()">¿Olvidaste tu contraseña?</button>
                    </div>
                    <div class="buttonContinue row justify-content-center">
                        <button mat-raised-button color="primary" class="col-11 col-sm-6 col-md-6"
                            (click)="login()">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>