
.text-login{
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.title{
    margin-top: 30px;
    width: 100%;
}

.buttonContinue{
    margin-top: 30px !important;
    button{
        border-radius: 15px;
    }
}