<form [formGroup]="seedTimeForm" class="cards-farms">
  <div class="cards-farms-title d-none d-md-flex">
    <img
      src="../../../../../../assets/img/Atech_ObjetoVectorial.PNG-15PEQUEÑO.png"
      alt=""
    />
    <h4>{{title}}</h4>
  </div>
  <div class="row cards-farms-container">
    <div class="specs col-12 col-md-6">
      <div class="d-inline-flex mt-2">
        <div class="number-button mr-2">1</div>
        <div>
          <strong>¿Que tipo de siembra quieres hacer?</strong>
        </div>
      </div>
      <div class="mx-2 mt-3">
        <mat-radio-group
          formControlName="type_sowing"
          aria-labelledby="radio-group-label"
          class="radio-group"
        >
          <mat-radio-button
            color="primary"
            class="radio-button"
            *ngFor="let type of typeOfPlanting"
            [value]="type"
          >
            {{ type }}
          </mat-radio-button>
        </mat-radio-group>
        <div
          *ngIf="submitted && controls.type_sowing?.errors?.required"
          class="warning"
        >
          Este campo es requerido
        </div>
      </div>
      <div class="d-inline-flex mt-2">
        <div class="number-button mr-2">2</div>
        <div>
          <strong>Ingresa la variedad</strong>
        </div>
      </div>
      <div class="mx-2 mt-3">
        <mat-form-field class="formOutline" appearance="outline">
          <input
            matInput
            placeholder="Ej. Grano largo"
            formControlName="variety"
            type="text"
            class="inputOutline"
            required
          />
        </mat-form-field>
        <div
          *ngIf="submitted && controls.variety?.errors?.required"
          class="warning"
        >
          Este campo es requerido
        </div>
      </div>
      <div class="d-inline-flex mt-3">
        <div class="number-button mr-2">3</div>
        <div>
          <strong>Selecciona una fecha</strong>
        </div>
      </div>
      <div class="mx-2 mt-3">
        <div><mat-label>Fecha propuesta</mat-label></div>
        <mat-form-field
          class="formOutline"
          color="primary"
          appearance="outline"
        >
          <input
            formControlName="sowing_date"
            matInput
            [matDatepicker]="pickerSowing_date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerSowing_date"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerSowing_date></mat-datepicker>
        </mat-form-field>
        <div><mat-label>Fecha real</mat-label></div>
        <mat-form-field
          class="formOutline"
          color="primary"
          appearance="outline"
        >
          <input
            formControlName="real_date"
            matInput
            [matDatepicker]="pickerReal_date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerReal_date"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerReal_date></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="date col-12 col-md-6 mt-4 mt-md-0">
      <div class="mx-2 mt-3">
        <img
          *ngIf="imageReference"
          [src]="imageReference"
          alt="Arroz en siembra"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
</form>
