<form [formGroup]="seedTimeForm">
  <div class="row">
    <div class="specs col-6 ">
      <div class="d-inline-flex">
        <div class="number-button mr-2">1</div>
        <div class="">
          <strong>¿Que tipo de siembra quieres hacer?</strong>
        </div>
      </div>
      <mat-radio-group  formControlName="plantingType"
        aria-labelledby="radio-group-label"
        class="radio-group"
      >
        <mat-radio-button
          color="primary"
          class="radio-button"
          *ngFor="let type of typeOfPlanting"
          [value]="type"
        >
          {{ type }}
        </mat-radio-button>
      </mat-radio-group>
      <div class="d-inline-flex mt-2">
        <div class="number-button mr-2">2</div>
        <div>
          <strong>Ingresa la variedad</strong>
        </div>
      </div>
      <mat-form-field class="col-8 formOutline ml-2 mt-3" appearance="outline">
        <input
          matInput
          placeholder="Ej. Grano largo"
          formControlName="variety"
          type="text"
          class="inputOutline"
          required
        />
      </mat-form-field>
    </div>
    <div class="date col-6"></div>
  </div>
</form>
