.main-box{
    background-color: brown;
}

.standar-margin-t{
    margin-top: 50px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
  }

  .m-events {
    height: 200px;
    border: 1px solid #555;
    overflow: auto;
  }

  .mat-form-field {
    margin-right: 12px;
  }

  h4{
    font-weight: 900;
  }