.main-box{
    background-color: brown;
}

.number-button{
    color: white;
    background: #87b017 ;
    border-radius: 50%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: -webkit-center;
    width: 24px;
    height: 24px;
}

.standar-margin-t{
    margin-top: 50px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
  }

  .m-events {
    height: 200px;
    border: 1px solid #555;
    overflow: auto;
  }

  .mat-form-field {
    margin-right: 12px;
  }/* 

  mat-label.standarSizeText{
    font-size: 1rem;
    font-weight: 400;
  } */