<div class="tab-form">
	<!--<form enctype="multipart/form-data" action="/updateUser" accept-charset="uft-8" method="post" id="updateUserForm">-->
	<div class="panel1 segment-panel">
		<h3 class="form-group col-md-12" style="color:#86AE17;"> Fecha de Siembra </h3>
		<div class="flex-container add-property">
			<label class="form-group col-md-12 l-label"> Datos básicos de la Finca</label>
			<div class="form-row form-segment">
				{% for k, v in property_land.items() %}
				{% if k == "property_id" %}
				<input type="hidden" name="{{k}}" id="{{k}}" value="{{v}}">
				{%else%}
				<div class="form-group col-md-2">
					<label for="property_{{k}}">{{i18n(k)}}</label>
					<input type="text" class="form-control form-control-lg" name="property_{{k}}" value="{{v}}" disabled>
				</div>
				{%endif%}
				{% endfor %}
				<div class="form-group col-md-2">
					<label for="apply_date">Fecha de Aplicación</label>
					<input type="date" class="form-control form-control-lg" name="visit_date">
				</div>
				
			</div>
		</div>
	</div>
	<div class="panel1 panel3 segment-side-panel">
		<div class="image_before">
			<img src="/images/before.png" width="420" height="350" alt="before">
		</div>
		<div class="image_after hide">
			<img src="/images/before.png" width="420" height="350" alt="before">
		</div>
		<!--<div class="button_actions">
			<i class="fas fa-camera fa-2x" style="color: #86AE17; padding-right: 25%; padding-top:5%;"></i>
			<i class="fas fa-camera fa-2x" style="color: #86AE17; padding-top:5%;"></i>
		</div>-->
	</div>
	<input type="hidden" name="stage_id" id="segment_stage">
	<input type="hidden" name="land_name" id="segment_land_name">
</div>
