<div class="tab-form">
	<!--<form enctype="multipart/form-data" action="/updateUser" accept-charset="uft-8" method="post" id="updateUserForm">-->
	<div class="panel1 segment-panel">
		<h3 class="form-group col-md-12" style="color:#86AE17;"><img src="/images/wheat_icon.svg" width="50"
				height="50">Fecha de Siembra</h3>
		<div class="flex-container add-property">
			<label class="form-group col-md-12 l-label">Datos de la Finca</label>
			<div class="form-row form-segment">
				<input type="hidden" name="property_id" id="property_id" value="{{property_land['property_id']}}">
				<input type="hidden" name="stage_property_id" id="stage_property_id" value="{{property_land['property_id']}}">
				<div class="form-group col-md-4">
					<label for="Nombre de la finca">Nombre de la finca</label>
					<input type="text" class="form-control form-control-lg" name="Nombre de la finca"
						value="{{property_land['pro_name']}}" disabled>
				</div>
				<div class="form-group col-md-8">
					<label for="Dirección">Dirección</label>
					<input type="text" class="form-control form-control-lg" name="Dirección"
						value="{{property_land['address_land']}}" disabled>
				</div>
				<div class="form-group col-md-4">
					<label for="Encargado finca">Encargado finca</label>
					<input type="text" class="form-control form-control-lg" name="Encargado finca"
						value="{{property_land['property_ca_contact']}}" disabled>
				</div>
				<div class="form-group col-md-4">
					<label for="Total Hectáreas finca">Total Hectáreas finca</label>
					<input type="text" class="form-control form-control-lg" name="Total Hectáreas finca"
						value="{{property_land['total_ha_property']}}" disabled>
				</div>
				<div class="form-group col-md-2">
					<label for="Nombre del lote">Nombre lote</label>
					<input type="text" class="form-control form-control-lg" name="Nombre del lote"
						value="{{property_land['land_name']}}" disabled>
				</div>
				<div class="form-group col-md-2">
					<label for="Hectáreas lote">Hectáreas lote</label>
					<input type="text" class="form-control form-control-lg" name="Hectáreas lote"
						value="{{property_land['land_ha']}}" disabled>
				</div>
				<div class="form-group col-md-4">
					<label for="Sistema de siembra">Sistema de siembra</label>
					<input type="text" class="form-control form-control-lg" name="Sistema de siembra"
						value="{{property_land['sowing_system']}}" disabled>
				</div>
				<div class="form-group col-md-4">
					<label for="variety_land">Ingresa la variedad</label>
					<input type="text" class="form-control form-control-lg" name="variety_land"
						value="{{property_land['variety']}}" id="variety_land">
				</div>
				<div class="form-group col-md-4">
					<label for="seedtime">Fecha de siembra</label>
					<input type="date" class="form-control form-control-lg" name="seedtime"
						value="{{property_land['seedtime']}}" id="seedtime" required>
				</div>
				<div class="form-group col-md-4">
					<label for="sowing_type">Tipo de Siembra</label>
						{% if property_land['sowing_type'] == '' %}
							<select id="sowing_type" name="sowing_type" class="form-control form-control-lg">
								<option value="">Seleccione ...</option>
								<option value="Arroz Tapado">Arroz Tapado</option>
								<option value="Arroz Voleado">Arroz Voleado</option>
							</select>
						{% else %}
							<input type="hidden" name="sowing_type" id="sowing_type" value="{{property_land['sowing_type']}}">
							{% if property_land['sowing_type'] == 'Arroz Tapado' %}
								<input type="text" class="form-control form-control-lg"
								value="Arroz Tapado" disabled>
							{% else %}
								<input type="text" class="form-control form-control-lg"
								value="Arroz Voleado" disabled>
							{% endif %}
						{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="panel1 panel3 segment-side-panel">
		<div class="image_before">
			<img src="/images/burning_planting.jpg" width="420" height="350" alt="before">
		</div>
		<div class="image_after hide">
			<img src="/images/burning_planting.jpg" width="420" height="350" alt="before">
		</div>
		<!--<div class="button_actions">
			<i class="fas fa-camera fa-2x" style="color: #86AE17; padding-right: 25%; padding-top:5%;"></i>
			<i class="fas fa-camera fa-2x" style="color: #86AE17; padding-top:5%;"></i>
		</div>-->
	</div>
	<input type="hidden" name="stage_id" id="segment_stage">
	<input type="hidden" name="land_name" id="segment_land_name">
	<input type="hidden" name="land_id" id="segment_land_id" value="{{property_land['land_id']}}">
</div>

<script type="text/javascript">
	var stage_id = document.getElementById("segment_stage").value;
	var add_product = document.getElementById("add_product");
	
	console.log('hola' + stage_id);
	if (stage_id == 14) {
		add_product.style.display = "none";
	  }
</script>
