<div class="tab-form">
	<div class="panel1 panel3">
		<h3 class="form-group col-md-12" style="color:#86AE17; padding:0;"> <img src="/images/wheat_icon.svg" width="50" height="50"> Datos de la Finca </h3>
		<div class="flex-container add-property">
			<label class="form-group col-md-12 l-label"> Datos de la Finca</label>
			<div class="form-row">
				{% for k, v in land.items() %}
				{% if k == "property_id" %}
				<input type="hidden" name="land_{{k}}" id="land_{{k}}" value="{{v}}" disabled>
				{% else %}
				<div class="form-group col-md-6">
					<label for="property_{{k}}">{{i18n(k)}}</label>
					<input type="text" class="form-control form-control-lg" name="property_{{k}}" id="property_{{k}}" value="{{v}}" disabled>
				</div>
				{% endif %}
				{% endfor %}

			</div>
		</div>
	</div>
	<div class="panel1">
		<h3 class="form-group col-md-12" style="color: #86AE17; padding-left:0; padding-bottom: 5%;"> <i class="fas fa-calendar-minus"></i> Calendario de Los Segmentos Secano Favorecido </h3>
		<div class="flex-container add-property" style="padding-top:0;">
			<div class="form-row form-property" style="width: 50%">
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number"> <div class="number-back"> 1 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> Fecha Siembra </label> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number">  <div class="number-back"> 2 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> Quema para Siembra </label> <button class="btn custom-btn save-btn stage-btn" onclick="see_stage(1)"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number">  <div class="number-back"> 3 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> Tratamiento de semillas </label> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number">  <div class="number-back"> 4 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> Pre emergencia total </label> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number"> <div class="number-back"> 5 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> Pre emergencia temprana </label> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number"> <div class="number-back"> 6 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> 1ra Fertilización </label> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number">  <div class="number-back"> 7 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> Post emergencia tardía </label> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number">  <div class="number-back"> 8 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> 2da Fertilización </label> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
			</div>
			<div class="form-row form-property-3 " id="lands">
				<div class="form-group col-md-12 item">
					<label style="width: 100%;"> <div class="stage-number"> <div class="number-back"> 9 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> Control enfermedades</label> <small> (Preventiva o  Intermedia) </small> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number"> <div class="number-back"> 10 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> 3era Fertilización </label> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number"> <div class="number-back"> 11 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> Control enfermedades </label> <small>(Preventiva)</small> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number"> <div class="number-back"> 12 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> 4ta Fertilización </label> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number"> <div class="number-back"> 13 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> Control de enfermedades </label> <small> (Embuchamiento) </small> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number"> <div class="number-back"> 14 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> Protección de espiga </label> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>
				<div class="form-group col-md-12 item">
					<label style="width: 100%"> <div class="stage-number"> <div class="number-back"> 15 </div> </div> <label style="    padding-left: 45px; line-height: 2.5;"> Fecha de cosecha </label> <button class="btn custom-btn save-btn stage-btn"> Ver Más </button> </label>
				</div>				
			</div>
		</div>
	</div>
</div>
