<div class="tab-form">
	<div class="panel1">
		<h3 class="center form-group col-md-12"> <img src="/images/wheat_icon.svg" width="50" height="50"> Datos Finca </h3>
		<div class="flex-container add-property">
			<label class="form-group col-md-12 l-label"> Datos de la Finca</label>
			<div class="form-row form-property">
	                       {% for k, v in property_dict.items() %}
				{% if "property_" in k or k == "lands" %}
				{% elif k == "id" %}
					<input type="hidden" name="property_{{k}}" id="property_{{k}}" value="{{v}}" disabled>
				{% else %}
				<div class="form-group col-md-6">
					<label for="property_{{k}}">{{i18n(k)}}</label>
					<input type="text" class="form-control form-control-lg" name="property_{{k}}" value="{{v}}" disabled>
				</div>
				{% endif %}
				{% endfor %}
				<!-- <div class="form-group col-md-6">
					<label for="sowing_system">Sistema de Siembra</label>
					<select id="sowing_system" name="sowing_system" class="form-control form-control-lg" disabled >
						<option> </option>
						<option value="1">Arroz Secano</option>
						<option value="2">Arroz de Riego</option>
					</select>
				</div> -->
			</div>
			<div class="separator"> </div>
			<div class="form-row form-property-2" id="view_lands">
			       {% if property_dict["lands"] == -1 %}
				<div class="form-group col-md-12" name="name_land">
			       		<h6> No hay más lotes </h6>
				</div>
				{%else %}
	                       {% for k in property_dict["lands"] %}
				<div class="form-group col-md-6" name="name_land">
					<label for="name">Nombre del Lote</label>
					<input type="text" class="form-control form-control-lg" name="name_land_1" name="name_land_1" min="0" value="{{k['land_name']}}" disabled>
				</div>
				<div class="form-group col-md-6" name="hec_land">
					<label for="name">Hectareas Lote</label>
					<input type="number" class="form-control form-control-lg" name="hec_land_1" name="hec_land_1" min="0" value="{{k['land_ha']}}" disabled>
				</div>
				{%endfor%}
				{%endif%}
				<input type="hidden" name="lands" id="l_lands">
				<input type="hidden" name="table_name" value="property">
				<button type="button" class="btn custom-btn"  onclick="pageLand(0, 3)"> <i class="fas fa-arrow-left"></i></button>
				<button type="button" class="btn custom-btn"  onclick="pageLand(1, 3)"> <i class="fas fa-arrow-right"></i></button>
			</div>
		</div>
	</div>
	<div class="panel1 panel3">
		<h3 class="center form-group col-md-12"> <i class="fas fa-user"></i> Usuarios </h3>
		<div class="flex-container add-property">
			<label class="form-group col-md-12 l-label" style="padding-top: 4.5%;"> Usuarios de la Finca</label>
			<div class="form-row" id="list_users">
	                       {% for k, v in property_dict.items() %}
				{% if "property_" in k %}
				<div class="form-group col-md-12">
					<label for="property_{{k}}">{{i18n(k)}}</label>
					{% if v == "" %}
					<input type="text" class="form-control form-control-lg" name="property_{{k}}" value="No Asignado" disabled>
					{%else%}
					<input type="text" class="form-control form-control-lg" name="property_{{k}}" value="{{v}}" disabled>
					{%endif%}
				</div>
				{%else%}
				{% endif %}
				{% endfor %}
			</div>
			
		</div>
	</div>
	</form>
</div>
