<div class="tab-form">
	<!--<form enctype="multipart/form-data" action="/updateUser" accept-charset="uft-8" method="post" id="updateUserForm">-->
	<div class="panel1 segment-panel">
		<h3 class="form-group col-md-12" style="color:#86AE17;"> <img src="/images/wheat_icon.svg" width="50" height="50"> {{stage[0]["stage_name"]}}</h3>
		<div class="flex-container add-property">
			<label class="form-group col-md-12 l-label"> Datos de la Finca</label>
			<div class="form-row form-segment">
				{% for k, v in property_land.items() %}
				{% if k == "property_id" or k == "land_id" or k == "seedtime" %}
				<input type="hidden" name="{{k}}" id="stage_{{k}}" value="{{v}}">
				{%elif k == "total_ha_property" or k == "land_ha" or k == "land_name" or k == "address_land"  %}
				{%else%}
				<div style="width:20%; padding:0.5%;">
					<label for="property_{{k}}">{{i18n(k)}}</label>
					<input type="text" class="form-control form-control-lg" name="property_{{k}}" id="property_stage_{{k}}" value="{{v}}" disabled>
				</div>
				{%endif%}
				{% endfor %}
			</div>
			<div class="form-row form-segment">
				<div style="width:15%; padding:0.5%;">
					<label for="apply_date" style="color: #86AE17;">Fecha de Aplicación</label>
					<input type="date" required class="form-control form-control-lg" name="visit_date" id="visit_date">
				</div>
				<div style="width:15%; padding:0.5%;">
					<label for="apply_date" style="color: #86AE17;">Inicio de Segmento</label>
					<input type="date" required class="form-control form-control-lg" id="segment_start">
					<input type="hidden" required class="form-control form-control-lg" name="segment_start" id="segment_start_value">
				</div>
				<div style="width:15%; padding:0.5%;">
					<label for="apply_date" style="color: #86AE17;">Fin de Segmento</label>
					<input type="date" required class="form-control form-control-lg" id="segment_end">
					<input type="hidden" required class="form-control form-control-lg" name="segment_end" id="segment_end_value">
				</div>
				<!-- Land Info --> 
				<div style="width:18%; padding:0.5%;">
					<label for="total_ha_property">Total Hec. de la Finca</label>
					<input type="text" class="form-control form-control-lg" name="property_stage_total_ha_property" id="property_stage_total_ha_property" value="{{property_land['total_ha_property']}}" disabled>
				</div>
				<div style="width:18%; padding:0.5%;">
					<label for="land_name">Nombre del Lote</label>
					<input type="text" class="form-control form-control-lg" name="property_stage_land_name" id="property_stage_land_name" value="{{property_land['land_name']}}" disabled>
				</div>
				<div style="width:18%; padding:0.5%;">
					<label for="land_ha">Hectareas Lote </label>
					<input type="text" class="form-control form-control-lg" name="property_stage_land_ha" id="property_stage_land_ha"value="{{property_land['land_ha']}}" disabled>
				</div>
			</div>
			
			<div class="form-segment-table">
				<label class="col-md-12 l-label"> Técnicas Agrícolas Sugiere en este Segmento </label>
				<div class="table-container col-md-12 table-segment">
				<table class="table borderless">
					<thead>
						<tr style="color:#96B940">
							<th scope="col"></th>
							<th scope="col">Producto</th>
							<th scope="col">Ing Activo</th>
							<th scope="col">Proveedor</th>
							<th scope="col">DósisxHa</th>
						</tr>
					</thead>
					<tbody id="recommend_recipe">
						{% for i in stage %}
						<tr id="product_id_{{i['id']}}">
						{% for k, v in i.items() %}
							{% if k == "id" and k != "segment_days" %}
							<td scope="row" id="item_checkbox_{{v}}"> 
								<label class="container container-segment">
									<input type="checkbox" value='{{v}}' id="item_id_{{v}}" onclick="add_item('{{v}}')">
									<span class="checkmark"></span>
								</label> 
							</td>
							{% elif k != "stage_name"  and k != "segment_days" %}
							<td id="stage_{{k}}" name="stage_{{k}}"> 
								{{v}}
							</td>
							{% endif %}
						{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>
			</div>
			<div class="form-segment-table">
				<label class="col-md-12 l-label"> Escribe tu decisión y Guárdala </label>
				<div class="table-segment col-md-12" style="padding: 0;">
				<table class="table borderless">
					<thead>
						<tr style="color:#96B940">
							<!--<th scope="col"></th>-->
							<th scope="col">Producto</th>
							<th scope="col">Ing Activo</th>
							<th scope="col">Proveedor</th>
							<th scope="col">DósisxHa</th>
							<th scope="col">Total kg/lt</th>
						</tr>
					</thead>
					<tbody id="segment_recipe">
						{% for i in product2property %}
						<tr id="segment_input_fields_{{i['product_id']}}">
						{% for k, v in i.items() %}
							{% if k == "product_id"%}
							<!--<td scope="row" id="item_checkbox_{{v}}">
								<button type="button" class="btn print-btn" onclick="remove_item('{{v}}')"> <i class="fas fa-minus"></i> </button>
							</td>-->
							<input type="hidden" name="{{k}}_{{v}}" id="{{k}}_{{v}}" value="{{v}}" disabled>
							{%else%}
							<td style="line-height:2;">
								{{v}}
							</td>
							{%endif%}
						{%endfor%}
						</tr>
						{%endfor%}
						<tr id="segment_input_fields">
							<!--<td scope="row" id="item_checkbox_{{v}}">
								<button type="button" class="btn print-btn" onclick="remove_item()"> <i class="fas fa-minus"></i> </button>
							</td>-->
							<td>
								<input type="text" class="segment_input" name="custom_product_0" id="custom_product_0">
							</td>
							<td>
								<input type="text" class="segment_input" name="custom_ing_active_0" id="custom_ing_active_0">
							</td>
							<td>
								<input type="text" class="segment_input" name="custom_provider_0" id="custom_provider_0">
							</td>
							<td id="custom_dose">
								<input type="text" class="segment_input" name="custom_dose_by_ha_0" onchange="calculate('custom_dose_by_ha_0')" id="custom_dose_by_ha_0">
							</td>
							<td id="custom_total">
								<input type="text" class="segment_input" name="custom_total_kg_0" id="custom_total_kg_0">
							</td>
							<!--<i class="fas fa-plus" aria-hidden="true" style="margin-top: 90%; color: #86AE17;"></i>-->
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
	<div class="panel1 panel3 segment-side-panel">
		<div class="image_before">
			<img src="/images/before.png" width="420" height="350" alt="before">
		</div>
		<div class="image_after hide">
			<img src="/images/before.png" width="420" height="350" alt="before">
		</div>
		<!--<div class="button_actions">
			<i class="fas fa-camera fa-2x" style="color: #86AE17; padding-right: 25%; padding-top:5%;"></i>
			<i class="fas fa-camera fa-2x" style="color: #86AE17; padding-top:5%;"></i>
		</div>-->
		<div class="button_actions">
			<button type="button" class="btn custom-btn save-btn" onclick=""> <label> Antes </label> <i class="fas fa-camera"></i>   </button>
			<button type="button" class="btn custom-btn save-btn" onclick=""> <label> Despues </label> <i class="fas fa-camera"></i>  </button>
		</div>
		<div class="observation_stage" id="list_users">
			<div class="form-group col-md-12">
				<label class="col-md-12 l-label"> Comentarios </label>
				{% if observation != "" %}
				<textarea class="form-control form_stage" name="observation" id="observation" rows="12" disabled>{{observation[0]['observation']}}</textarea>
				{%else%}
				<textarea class="form-control form_stage" name="observation" id="observation" rows="12"></textarea>
				{%endif%}
			</div>
		</div>
	</div>
	<input type="hidden" name="stage_id" id="segment_stage">
	<input type="hidden" name="land_id" id="segment_land_id">
	<input type="hidden" name="segment_days" id="segment_days" value="{{segment_days}}" disabled>
</div>


<div id="segment_input_fields_2" class="hide">
	<tr>
		<td>
			<input type="text" class="segment_input" name="custom_product_0" id="custom_product_0">
		</td>
		<td>
			<input type="text" class="segment_input" name="custom_ing_active_0" id="custom_ing_active_0">
		</td>
		<td>
			<input type="text" class="segment_input" name="custom_provider_0" id="custom_provider_0">
		</td>
		<td id="custom_dose">
			<input type="text" class="segment_input" name="custom_dose_by_ha_0" onchange="calculating()" id="custom_dose_by_ha_0">
		</td>
		<td id="custom_total">
			<input type="text" class="segment_input" name="custom_total_kg_0" id="custom_total_kg_0">
		</td>
		<!--<i class="fas fa-plus" aria-hidden="true" style="margin-top: 90%; color: #86AE17;"></i>-->
	</tr>
</div>

