<div class="tab-form">
	<div class="panel1">
		<h3 class="center form-group col-md-12"> <i class="far fa-user"></i> Editar Usuario </h3>
		<form enctype="multipart/form-data" action="/updateUser" accept-charset="uft-8" method="post" id="updateUserForm">
			<div class="flex-container">
				<div class="form-row user-form-step1">
					<label class="form-group col-md-12 l-label"> Datos Personales</label>
					{% for k, v in user.items() %}
					{% if k == "id" %}
					<input type="hidden" class="form-control" name="{{k}}" id="edit_{{k}}_role" value="{{v}}" disabled>
					{% elif k != "email" %}
					<div class="form-group col-md-6">
						<label for="name">{{i18n(k)}}</label>
						<input type="text" class="form-control form-control-lg" name="{{k}}" id="{{k}}" value="{{v}}">
					</div>
					{%endif%}
					{% endfor %}
					
				</div>
				<div class="separator"> </div>
				<div class="form-row user-form-step2">
					<label class="form-group col-md-12 l-label"> Cuenta </label>
					{% for k, v in user.items() %}
					{% if k == "email" %}
					<div class="form-group col-md-12">
						<label for="name">{{i18n(k)}}</label>
						<input type="text" class="form-control form-control-lg" name="{{k}}" id="{{k}}" value="{{v}}">
					</div>
					<input type="hidden" name="old_{{k}}" id="old_{{k}}" value="{{v}}">
					{% endif %}
					{% endfor %}
					<div class="form-group col-md-12">
						<label for="role">Perfil</label>
						<select id="role_edit_id" name="role_id" class="form-control form-control-lg">
							<option> </option>
							<option value="1">Administrador</option>
							<option value="2">Capataz</option>
							<option value="4">Dueño de la finca</option>
							<option value="8">Encargado de Compras</option>
							<option value="9">Encargado de Pagos</option>
							<option value="7">Influenciador de Decisiones de Compra</option>
							<option value="3">Responsable Decisiones de Compra</option>
							<option value="5">Socio Adicional</option>
							<option value="6">Vendedor TASA</option>
						</select>
					</div>
					<div class="form-group col-md-12">
						<label for="password">Contraseña</label>
						<input type="password" class="form-control form-control-lg" name="password" id="password">
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="panel2"></div>
</div>
