@import "../../../../../themes/theme.scss";

.list-container {
  display: block;
  background-color: white;
}

.size-icon-folder{
  vertical-align: sub;
  font-size: 27px;
}

// Columns styles
// 12.5% == 100%/8

.select {
  width: 6.25%;
}
.name {
  width: 12.5%;
}
.last_name {
  width: 12.5%;
}
.age {
  width: 6, 25%;
}
.email {
  width: 25%;
}
.phone {
  width: 12.5%;
}
.profesion {
  width: 12.5%;
}
.role {
  width: 12.5%;
}

.delete-button{
  
  border-radius: 100px;
  outline-style: none;
}

.border-button{
  outline-style: none;
  border-radius: 100px;
}