.navbar {
  // Client request
  // background-color: transparent!important;
  justify-content: space-between;

  font-size: 1.2rem;
  .navbar-brand {
    flex: 1;
    img {
      height: 90px;
    }
  }

  .nav-link {
    padding: 0;
  }

  .nav-item {
    margin: 0 0.5em;
    padding: 0 0.25em;
    .nav-link {
      color: white;
    }
  }

  .nav-item.active {
    border-bottom: 4px white;
    border-style: none none solid none;
  }

  .navbar-collapse {
    justify-content: center;
  }

  .icon img {
    width: 30px;
    height: 30px;
    margin: 0 15px;
  }
}

.material-icons{
  vertical-align: bottom;
  font-size: 25px;
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1300px) {
  .navbar {
    font-size: 1rem;
    .navbar-brand img {
      height: 50px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .navbar {
    font-size: 1.2rem;
    .navbar-brand img {
      height: 45px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .navbar .navbar-brand img {
    height: 40px;
  }
}

// Small devices (landscape phones, 544px and up)
@media (max-width: 544px) {
  .navbar .navbar-brand img {
    height: 30px;
  }
  
  .material-icons{
    vertical-align: text-bottom;
    font-size: 25px;
  }
}
