.home-container {
  background-image: url("../../../assets/img/Atech_Background.1.jpg");
  background-size: 100% 100%;
  height: 100vh;
  overflow-y: auto;
}

footer {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      hsla(0, 0%, 100%, 0.2),
      rgba(255, 255, 255, 1)
    ),
    url("../../../assets/img/footer_image.jpg");
  height: 180px;
  background-size: 100% auto;
}

@media (max-width: 768px) {
  .home-container {
    background-image: none;
    background-color: white;
  }

  .home-initial-container {
    background-image: url("../../../assets/img/Inicio\ móvil\ 24\ Oct\ 2020.jpg");
    background-size: 100% 100%;
    height: 100vh;
  }
}
