.sponsors {
  background-size: auto;
  background: url(../../../../../assets/img/crear_usuario.jpg);
  background-size: cover;
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: normal;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 16px;
}

.size-icon-folder {
  outline: none;
  vertical-align: text-top;
  font-size: 20px;
}
