<div class="card-container-form p-1">
  <form [formGroup]="userFg" (ngSubmit)="onSubmit()">
    <div class="row no-gutters">
      <div class="form-body col-12 col-md-8 py-3">
        <div class="center-children mt-2">
          <h4><i class="material-icons">person_outline</i> {{this.title}}</h4>
        </div>
        <div class="form-inputs row py-3">
          <div class="form-personal-data col-12 col-md-6 row">
            <div class="form-subtitle col-12">
              <strong>Datos personales</strong>
              <hr class="mt-0" />
            </div>
            <div class="containerForm col-12 col-md-6">
              <mat-label class="text-size"> Nombre </mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  appAutofocus
                  matInput
                  formControlName="name"
                  type="text"
                  class="inputOutline"
                  required
                />
              </mat-form-field>
              <div
                *ngIf="submitted && controls.name?.errors?.required"
                class="warning"
              >
                Este campo es requerido
              </div>
              <div
                *ngIf="submitted && controls.name?.errors?.minlength"
                class="warning"
              >
                Debe contener al menos 3 caracteres
              </div>
            </div>
            <div class="containerForm col-12 col-md-6">
              <mat-label class="text-size">Apellido</mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  formControlName="lastName"
                  type="text"
                  class="inputOutline"
                  required
                />
              </mat-form-field>
              <div
                *ngIf="submitted && controls.lastName?.errors?.required"
                class="warning"
              >
                Este campo es requerido
              </div>
              <div
                *ngIf="submitted && controls.lastName?.errors?.minlength"
                class="warning"
              >
                Debe contener al menos 3 caracteres
              </div>
            </div>
            <div class="containerForm col-12 col-md-6">
              <mat-label class="text-size">Telefono</mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  formControlName="phone"
                  type="number"
                  class="inputOutline"
                />
              </mat-form-field>
              <div
                *ngIf="submitted && controls.phone?.errors?.minLength"
                class="warning"
              >
                Debe contener al menos 7 caracteres
              </div>
            </div>
            <div class="containerForm col-12 col-md-6">
              <mat-label class="text-size">Edad</mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  formControlName="age"
                  type="number"
                  class="inputOutline"
                />
              </mat-form-field>
            </div>
            <div class="containerForm col-12 col-md-6">
              <mat-label class="text-size">Profesion</mat-label>
              <mat-form-field
                class="col-12 formOutline profesion-size"
                appearance="outline"
              >
                <input
                  matInput
                  formControlName="profession"
                  type="text"
                  class="inputOutline"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="vl d-none d-md-block"></div>
          <div class="form-account col-12 row col-md-6">
            <div class="form-subtitle col-12">
              <hr class="d-block d-md-none" />
              <strong>Cuenta</strong>
              <hr class="mt-0" />
            </div>
            <div class="containerForm col-12 col-md-12">
              <mat-label class="text-size">E-mail</mat-label>
              <mat-form-field class="formOutline" appearance="outline">
                <input
                  matInput
                  formControlName="email"
                  type="text"
                  class="inputOutline"
                  required
                />
              </mat-form-field>
              <div
                *ngIf="submitted && controls.email?.errors?.required"
                class="warning"
              >
                Este campo es requerido
              </div>
              <div
                *ngIf="submitted && controls.email?.errors?.email"
                class="warning"
              >
                Email inválido
              </div>
            </div>
            <div class="containerForm col-12">
              <mat-label class="text-size">Perfil</mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <mat-select formControlName="role_id" required>
                  <mat-option *ngFor="let role of roles" [value]="role.key">
                    {{ role.role }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div
                *ngIf="submitted && controls.role_id?.errors?.required"
                class="warning"
              >
                Este campo es requerido
              </div>
            </div>
            <div class="containerForm col-12 col-md-6">
              <mat-label class="text-size">Contraseña</mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  formControlName="password"
                  class="inputOutline"
                  [required]="mode !== 'edit'"
                  [type]="hidePassword ? 'password' : 'text'"
                />
                <button
                  class="button no-outline"
                  mat-icon-button
                  matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword"
                  type="button"
                >
                  <mat-icon>{{
                    hidePassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
              <div
                *ngIf="submitted && controls.password?.errors?.required"
                class="warning"
              >
                Este campo es requerido
              </div>
            </div>
            <div *ngIf="mode !== 'edit'" class="containerForm col-12 col-md-6">
              <mat-label class="text-size">Confirma tu contraseña</mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  formControlName="passwordRepeat"
                  class="inputOutline"
                  required
                  [type]="hideRepeadPassword ? 'password' : 'text'"
                />
                <button
                  class="button second-button no-outline"
                  mat-icon-button
                  matSuffix
                  (click)="hideRepeadPassword = !hideRepeadPassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideRepeadPassword"
                  type="button"
                >
                  <mat-icon>{{
                    hideRepeadPassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
              <div
                *ngIf="submitted && controls.passwordRepeat?.errors?.required"
                class="warning"
              >
                Este campo es requerido
              </div>
              <div
                *ngIf="submitted && userFg?.errors?.invalidConfirmPassword"
                class="warning"
              >
                Las contraseñas no son iguales
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 pl-md-1 pr-md-0 mh-100 col-md-4">
        <div class="sponsors h-100">
        </div>
      </div>
    </div>
    <div class="m-3">
      <button
        class="transparent-blackground white-border rounded-button"
        mat-raised-button
        (click)="goBack()"
        color="primary"
        type="button"
      >
        <mat-icon class="size-icon-folder mr-2">folder_open </mat-icon>Ver lista de
        usuarios
      </button>
      <button
        class="ml-md-5 rounded-button mt-3"
        mat-raised-button
        color="primary"
        type="submit"
      >
        <span class="px-5">Guardar cambios</span>
        <mat-icon class="size-icon-check">check_circle_outline</mat-icon>
      </button>
    </div>
  </form>
</div>
