.form-subtitle {
  display: block;
}

.row {
  align-content: flex-start;
  margin-left: 0px;
  margin-right: 0px;
}

.formOutline {
  width: 100%;
}

.form-body {
  background-color: white;
}

.center-children {
  padding-top: 16px;
  text-align: center;
  color: #87b017;
}

.card-container {
  background-size: auto;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  border-left-style: none;
  margin-top: 16px;
  border: 10px solid transparent;
  border-bottom-width: 60px;
  background: linear-gradient(to bottom, #87b017 0%, rgba(0, 0, 0, 0) 150%) border-box;
}

.sponsors{
  border-left: 10px solid transparent;
  background: url(../../../../../assets/img/Atech_Background.1.jpg) padding-box
      fixed,
    linear-gradient(to bottom, #87b017 0%, rgba(0, 0, 0, 0) 150%) border-box;
  
}

button {
  .new-button {
    background: none;
    background-repeat: repeat;
    fill: currentColor;
    border: none;
    margin: auto;
    background: none;
  }

  .new-button2 {
    background: none;
    background-repeat: repeat;
    fill: currentColor;
    border: none;
    margin: auto;
    background: none;
  }

  .second-button {
    background-repeat: repeat;
    fill: currentColor;
    border: none;
    margin: auto;
    background: none;
  }
}

.button {
  background-repeat: repeat;
  fill: currentColor;
  border: none;
  margin: auto;
  background: none;
}

.material-icons {
  vertical-align: text-bottom;
  font-size: larger;
}

h2 {
  padding: 1rem;
}

div.no-left-border {
  border-left-style: none;
}

.vl {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 61%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  top: 35%;
}

.mat-raised-button {
  border-radius: 18px;
}

.save-changes {
  vertical-align: middle;
  font-size: 24px;
}

span.text-box {
  padding-left: 30px;
  font-size: large;
}

div.padding-row {
  padding-left: 20px;
}

.size-icon-check {
  font-size: 24px;
  vertical-align: text-top;
}

.size-icon-folder {
  vertical-align: text-top;
  font-size: 20px;
}

button.transparent-blackground {
  bottom: 50px;
  left: 20px;
  background-color: rgb(0 0 0 / 0%);
}

.relative2 {
  position: relative;
  top: -20px;
  left: 20px;
  background-color: white;
  width: 500px;
}

button.position-green-button {
  bottom: 50px;
  left: 120px;
}
