.form-subtitle {
  display: block;
}

.row {
  align-content: flex-start;
  margin-left: 0px;
  margin-right: 0px;
}

.formOutline {
  width: 100%;
}

.form-body {
  background-color: white;
}

.center-children {
  padding-top: 16px;
  text-align: center;
  color: #87b017;
}

.card-container {
  background-size: auto;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;  
    border-left-style: none;
  margin-top: 16px;
  border: 10px solid transparent;
  border-bottom-width: 60px;
  background: url(../../../../../assets/img/Atech_Background.1.jpg) padding-box
      fixed,
    linear-gradient(to bottom, #87b017 0%, rgba(0, 0, 0, 0) 150%) border-box;
  background-size: cover;
}


.button {
  background-repeat: repeat;
  fill: currentColor;
  border: none;
  margin: auto;
  background: none;
}

button.second-button {
  background-repeat: repeat;
  fill: currentColor;
  border: none;
  margin: auto;
  background: none;
}

.material-icons{
  vertical-align: text-bottom;
  font-size: larger;
}

h2{
  padding: 1rem;
}

div.no-left-border{
  border-left-style: none;
}