.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// base forms
.formOutline {
  font-size: 12px!important;
}

.mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.7) !important ;
}

.mat-select-disabled .mat-select-value{
  color: rgba(0, 0, 0, 0.7) !important ;
}

.card-container-form {
  background-image: linear-gradient(
    to top,
    rgba(87, 116, 0, 0.5),
    rgba(87, 116, 0, 1)
  );
  margin: 2.5%;

  .row {
    align-content: flex-start;
    margin-left: 0px;
    margin-right: 0px;
  }

  .form-body {
    background-color: white;

    .center-children {
      text-align: center;
      color: #87b017;

      img{
        vertical-align: top;
        margin-right: 9px;
      }

      .material-icons {
        vertical-align: text-bottom;
        font-size: larger;
      }
    }

    .form-subtitle {
      display: block;
    }

    .containerForm {
      margin: 6px 0;

      .formOutline {
        width: 100%;
        font-size: 12px;
      }
    }

    .vl {
      height: 50%;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 50%;
      top: 0;
      top: 35%;
    }
  }

  .sponsors {
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .rounded-button {
    border-radius: 18px;

  }

  button.transparent-blackground {
    background-color: rgba(134, 174, 23, 0.3);
  }
  
  button.white-border {
    border: 1px solid #f8f9fa;
  }
  
  button {
    outline: none;

    .size-icon-check {
      border-radius: 100px;
      font-size: 30px;
      vertical-align: text-top;
      position: fixed;
      bottom: 10px;
      right: 0;
      width: 37px;
      outline: none;
    }
  }
}

