@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";
@import "~bootstrap/scss/bootstrap";
@import "./forms.scss";
@import "~font-awesome/css/font-awesome.css";
@import "./tables.scss";
@import "./login.scss";
@import "./cards-farms.scss";

html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Roboto, "Helvetice New", "Arial", sans-serif;
}

*{
  font-size: 16px;
}

.initial-header {
  height: 100px;
  display: flex;
  justify-content: flex-start;

  img {
    height: 90px;
  }

  .logo-login-movil {
    display: none;
  }
}

.mat-form-field {
  padding: 0 !important;
}

mat-label {
  color: map-get($theme-colors, "secondary");
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0;
}

.warning {
  font-size: 10px;
  color: map-get($theme-colors, "danger");
}

.snackbar-warn {
  background-color: map-get($theme-colors, "danger") !important;
  color: black;

  button {
    color: black;
  }
}

.snackbar-success {
  background-color: map-get($theme-colors, "primary") !important;
  color: black;

  button {
    color: black;
  }
}

.snackbar-alert {
  background-color: rgb(248, 248, 117) !important;
  color: black;

  button {
    color: black;
  }
}

.no-margin .mat-checkbox-layout {
  margin: 0 !important;
}

// base pages
.card-container {
  .card-body {
    background-color: white;
  }
  .size-icon-title {
    vertical-align: sub;
    font-size: 27px;
  }
  background-image: linear-gradient(
    to top,
    rgba(87, 116, 0, 0.5),
    rgba(87, 116, 0, 1)
  );
  margin: 2.5%;
}

button.mat-button-base {
  outline-style: none;
}

button.rounded-button {
  border-radius: 18px;
}

button.transparent-blackground {
  background-color: rgba(134, 174, 23, 0.3) !important;
}

button.white-border {
  border: 1px solid #f8f9fa;
}

.img-as-icon {
  height: 20px;
}

.no-margin-padding{
  margin: 0;
  padding: 0;
}

.card-container{

  .container-card-title{
    font-weight: bold;
    margin-bottom: 10px;
    color: map-get($theme-colors, "secondary")
  }
  .mat-expansion-panel{
    background-color: map-get($theme-colors, "primary");
    border-radius: 20px;
    padding: 6px 15px !important;
    margin-bottom: 30px;
    color: white;

    .mat-expansion-panel-header{
      padding: 0;

      .mat-expansion-indicator::after{
        color: white;
      }
    }
  
    .header-container-card-green{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      color: white;
  
      h3{
        font-size: 18px;
        font-weight: bold;
        margin: 0;
      }
    }
  
    .content-container-card-green{
      margin-top: 10px;
  
      .line-container-card-green{
        display: flex;
        height: 20px;
    
        .subtitle-container-card-green{
          font-weight: bold;
          font-size: 16px;
        }
    
        p{
          font-size: 16px;
          padding-left: 15px;
        }
      }
    }
  }

  .mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-title, .mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-description{
    color: white;
  }
  
}

.container-card-green{
  background-color: map-get($theme-colors, "primary");
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;

  .header-container-card-green{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

    h3{
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .initial-header {
    height: 80px;
    display: flex;
    justify-content: space-between;

    img {
      height: 60px;
      margin-top: 20px;
    }

    .logo-login-movil {
      display: block;
    }
  }
  .form-login {
    height: initial !important;
    overflow: initial !important;
  }
}