table {
  width: 100%;
}

table,
tbody {
  border-collapse: separate;
  border-spacing: 0 0.2rem !important;
}
th {
  color: black;
  padding: 0px;
}
tr.mat-header-row {
  height: 30px!important;
}
tr.active {
  td {
    color: inherit;
    border: solid 2px map-get($theme-colors, "primary");
    border-left: none;
    border-right: none;
  }
  td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: solid 2px map-get($theme-colors, "primary");
  }
  td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-right: solid 2px map-get($theme-colors, "primary");
  }
}

tr {
  td {
    color: gray;
    border: solid 2px rgba(0, 0, 0, 0.12);
    border-left: none;
    border-right: none;
  }
  td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: solid 2px rgba(0, 0, 0, 0.12);
  }
  td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-right: solid 2px rgba(0, 0, 0, 0.12);
  }
}

.select{
  min-width: 48px;
}

.mat-paginator-container{
  flex-wrap: initial!important;
}

@media (max-width: 768px) {
  .select{
    padding-left: 14px!important;
  }
}


