<form [formGroup]="burningForSowingForm" class="cards-farms">
  <div class="cards-farms-title">
    <img
      src="../../../../../../assets/img/Atech_ObjetoVectorial.PNG-15PEQUEÑO.png"
      alt=""
    />
    <h4>Quema para la siembra - (texto procesado)</h4>
  </div>
  <div class="row cards-farms-container">
    <div class="col-12 col-md-9 row">
      <div class="col-12 mt-3">
        <div class="d-inline-flex">
          <div class="number-button mr-2">1</div>
          <div>
            <strong>Selecciona de nuestros productos o adiciona otros</strong>
          </div>
        </div>
        <div class="caja-fea">
          <p>tabla1</p>
        </div>  
        <div class="caja-fea mt-3">
          <p>tabla2</p>
        </div>  
      </div>
    </div>
    <div class="col-12 col-md-3">     
      <div class="col-6">despues</div>
      <div>observaciones</div>
      <div>linea</div>
      <div>text-area</div>
    </div>
  </div>
</form>
