@import "../../../../../../themes/theme.scss";
.number-button{
  color: white;
  background: #87b017 ;
  border-radius: 50%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: -webkit-center;
  min-width: 24px;
  height: 24px;
}

.container-table{
  border: 2px solid #87b017;
  padding: 10px;
  border-radius: 10px;

  .interactive-container{
    display: flex;
    width: 100%;
    justify-content: right;
    
    button{
      padding: 0;
      border: none;
      background-color: transparent;
      display: flex;
    }

    .delete{
      color: red;
    }

    mat-icon{
      cursor: pointer;
    }
  }

  .add-button{
    margin: 10px 0;
  }
}