.number-button{
  color: white;
  background: #87b017 ;
  border-radius: 50%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: -webkit-center;
  width: 24px;
  height: 24px;
}

.caja-fea{
  background: #c1c9aa ;
  height: 250px;
}