<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Profesion</th>
      <th scope="col">Perfil</th>
    </tr>
  </thead>
  <tbody class="table-hover">
{% for i in user_list %}  
    <tr>
	<th scope="row"> 
		<label class="container">
  			<input type="radio" name="user_email" value='{{i["email"]}}'>
  			<span class="checkmark"></span>
		</label> 
	</th>
  {% for key, v in i.items() %}
        <td>{{v}}</td>
  {% endfor %}
    </tr>
{% endfor %}
    
  </tbody>
</table>
