.cards-farms-col{

    .cards-farms-item{
        display: flex;
        font-size: 15px;
        margin: 10px 0;
        justify-content: space-between;
        align-items: center;

        .cards-farms-number-item{
            width: 36px;
            height: 36px;
            min-width: 36px;
            border-radius: 50%;
            color: white;
            justify-content: center;
            display: flex;
            align-items: center;
            margin-right: 15px;
        }

        .color-green{
            background-color: #87b017;
            color: white;
        }

        .color-red{
            background-color: #fa1606;
            color: white;
        }

        .cards-farms-text-item{
            color: #7c7c7c;
            width: 100%;
        }

        button{
            width: 120px;
            min-width: 120px;
        }
    }
    
}

@media (max-width: 768px) {

}