<div class="cards-farms" *ngIf="landsService.landSelected">
    <div class="cards-farms-title">
        <img src="../../../../../../assets/img/Atech_ObjetoVectorial.PNG-15PEQUEÑO.png" alt="">
        <h4>
            Calendario de los segmentos {{landsService.typeRice.name}}
        </h4>
    </div>
    <div class="variety" *ngIf="landsService.variety">
        Vaeriedad: {{landsService.variety}}
    </div>
   <div class="row cards-farms-container" *ngIf="list">
    <div class="col-md-12 col-lg-6">
        <div class="cards-farms-col" *ngFor="let item of list.slice(0,8)">
            <div class="cards-farms-item">
                <div class="cards-farms-number-item" [class]="color(item.complete)">
                    {{item.stage_number}}
                </div>
                <div class="cards-farms-text-item">
                    {{item.stage_name}}
                </div>
                <button mat-raised-button class="rounded-button" [class]="color(item.complete)" (click)="goItem(item)">
                    <div class="rounded-button-text">ver más </div>
                    <mat-icon>visibility</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="cards-farms-col" *ngFor="let item of list.slice(8,16)">
            <div class="cards-farms-item">
                <div class="cards-farms-number-item" [class]="color(item.complete)">
                    {{item.stage_number}}
                </div>
                <div class="cards-farms-text-item">
                    {{item.stage_name}}
                </div>
                <button mat-raised-button class="rounded-button" [class]="color(item.complete)" (click)="goItem(item)">
                    <div class="rounded-button-text">ver más </div>
                    <mat-icon>visibility</mat-icon>
                </button>
            </div>
        </div>
    </div>
   </div>
</div>