<form [formGroup]="harvestTimeForm" class="cards-farms">
  <div class="cards-farms-title d-none d-md-flex">
    <img
      src="../../../../../../assets/img/Atech_ObjetoVectorial.PNG-15PEQUEÑO.png"
      alt=""
    />
    <h4>{{ title }}</h4>
  </div>
  <div class="cards-farms-container">
    <div class="specs">
      <!-- INPUT QUINTALES -->
      <div class="d-inline-flex mt-3">
        <div class="number-button mr-2">1</div>
        <div>
          <strong>Ingresar los quintales que se produjeron en el lote</strong>
        </div>
      </div>
      <div class="row">
        <div class="mt-3 col-md-6 col-12">
          <mat-label>Cantidad de quintales (QQ) por lote:</mat-label>
          <mat-form-field class="formOutline" appearance="outline">
            <input
              matInput
              placeholder="Ej. 120"
              formControlName="amount_quintals"
              type="number"
              class="inputOutline"
              required
            />
          </mat-form-field>
          <div
            *ngIf="submitted && controls.amount_quintals?.errors?.required"
            class="warning"
          >
            Este campo es requerido
          </div>
        </div>

        <div class="mt-3 col-md-6 col-12">
          <mat-label class="text-primary">Cantidad de quintales (QQ) por hectárea:</mat-label>
          <mat-form-field class="formOutline form-border-primary" appearance="outline">
            <input
              matInput
              placeholder="0"
              formControlName="amount_quintals_ha"
              type="number"
              class="inputOutline text-primary"
            />
          </mat-form-field>
        </div>
      </div>

      <!-- OBSERVATION INPUT -->
      <div class="d-inline-flex mt-3">
        <div class="number-button mr-2">2</div>
        <div>
          <strong>Escribe tus observaciones</strong>
        </div>
      </div>
      <div class="mt-3">
        <mat-form-field class="formOutline" appearance="outline">
          <textarea
            formControlName="observations"
            class="inputOutline"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="20"
            placeholder="Ej. Escribe todas las observaciones que veas pertinentes."
            required
          ></textarea>
        </mat-form-field>
        <div
          *ngIf="submitted && controls.observations?.errors?.required"
          class="warning"
        >
          Este campo es requerido
        </div>
      </div>
    </div>
  </div>
</form>
