<div class="card-container p-1">
  <div class="card-body p-4">
    <div class="row">
      <div class="col-md-4">
        <h1>DATOS FINCA</h1>
      </div>
      <div class="col-md-8">
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>
    </div>
  </div>
  <div class="m-3">
    <button
      class="transparent-blackground white-border rounded-button"
      mat-raised-button
      (click)="onBack()"
      color="primary"
      type="button"
    >
      <mat-icon class="size-icon-folder">folder_open </mat-icon>Ver lista de
      fincas
    </button>
    <button
      class="no-outline ml-md-5 rounded-button mt-3"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onSave()"
    >
      <span class="px-5">Guardar cambios</span>
      <mat-icon class="size-icon-check">check_circle_outline</mat-icon>
    </button>
  </div>
</div>
