.sponsors {
  background-size: auto;
  background: url(../../../../../assets/img/menos_carga_quimica.JPG);
  background-size: cover;
  color: white;
  font-weight: bold;
  font-size: 3em;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}