@import "../../../../../themes/theme.scss";


.sponsors {
  background-size: auto;
  background: url(../../../../../assets/img/menos_carga_quimica.JPG);
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  font-size: 3em;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.cards-farms-title {
  color: map-get($theme-colors, "primary");
  display: flex;
  padding-top: 20px;
  h4 {
    font-size: 2em;
    font-weight: bolder;
  }

  img {
    height: 35px;
    padding-right: 20px;
  }
}

.buttons{
  display: flex;
  align-items: flex-start;
  margin: 10px 0;

  .buttons-left{
    flex: 1;
    
    button{
      border-radius: 18px;
    }
  }

  .buttons-right{
    display: flex;
    width: 60px;
  }

  button{
    margin: 5px;
  }
}

@media (min-width: 100px) {
  .sponsors {
    height: 500px;
  } 
}

@media (min-width: 370px) {
  .sponsors {
    height: 600px;
  } 
}

@media (min-width: 710px) {
  .sponsors {
    height: 700px;
  }
}