.card-login{

    .form-login{
        align-items: center;
        margin: 0;
        width: 95%;
        height: 430px;
        overflow-y: auto;
        background-color: white;

        .text-login{
            margin-left: 10px;
            text-align: center;
            margin-bottom: 10px;
        }

        .title{
            margin-top: 20px;
            width: 100%;
        }

        .text{
            font-size: 15px;
            margin: 0;
            padding: 0;
            font-weight: bold;
        }

        .forgotPass{
            margin: 0;
            margin-bottom: 5px;

            button{
                text-align: right;
                font-weight: bold;
            }
        }

        .buttonContinue{
            margin: 0;
            margin-top: 30px !important;
            button{
                border-radius: 15px;
            }
        }
    }
}


@media (max-width: 768px) {

    .text-login{
        text-align: left !important;
    }

}