<div class="container-login row justify-content-center d-md-flex d-block">
  <div class="initial-header col-12">
    <img src="../../../assets/img/logo.png" alt="" />
  </div>
  <div class="card-login col-12 col-sm-9 col-md-7 col-lg-6">
    <div class="row">
      <div class="form-login col-12">
        <div class="logo-login-movil d-md-none mt-md-0 mt-5">
          <img src="../../assets/img/TASA.PNG" />
        </div>
        <div class="text-login">
          <h2 class="title">¿Olvidaste tu contraseña?</h2>
          <p class="text">¡No te preocupes!</p>
          <p class="text">ingresa aquí tu nueva contraseña</p>
        </div>
        <form #myForm="ngForm" [formGroup]="restPasswordForm">
          <div class="row justify-content-center">
            <div class="containerForm col-12">
              <mat-label>Nueva contraseña</mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="Nueva contraseña"
                  formControlName="password"
                  class="inputOutline"
                  required
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
              <div
                class="warning"
                *ngIf="
                  restPasswordForm.controls.password.errors?.required && save
                "
              >
                Este campo es requerido
              </div>
              <div
                class="warning"
                *ngIf="
                  restPasswordForm.controls.password.errors?.maxlength && save
                "
              >
                Máximo 60 caracteres
              </div>
            </div>

            <div class="containerForm col-12">
              <mat-label>Confirma tu contraseña</mat-label>
              <mat-form-field class="col-12 formOutline" appearance="outline">
                <input
                  matInput
                  placeholder="contraseña"
                  formControlName="passwordConfirm"
                  class="inputOutline"
                  required
                  [type]="hideConfirm ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hideConfirm = !hideConfirm"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideConfirm"
                >
                  <mat-icon>{{
                    hideConfirm ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
              <div
                class="warning"
                *ngIf="
                  restPasswordForm.controls.passwordConfirm.errors?.required &&
                  save
                "
              >
                Este campo es requerido
              </div>
              <div
                class="warning"
                *ngIf="
                  restPasswordForm.controls.passwordConfirm.errors?.mustMatch &&
                  save
                "
              >
                Las contraseñas deben coincidir
              </div>
            </div>
          </div>
          <div class="buttonContinue row justify-content-center">
            <button
              mat-raised-button
              color="primary"
              class="col-11 col-sm-6 col-md-6"
              (click)="resetPassword()"
            >
              Reestablecer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
