<div class="historical" id="contentToConvert" #contentToConvert>
    <div class="title-historical">
        Informe de Visita
    </div>
    <div class="box-historical">
        <div class="title-box-historical">
            Datos básicos de la finca
        </div>
        <div class="info-box-historical row">
            <div class="subtitle-box-historical col-3">
                Nombre:
            </div>
            <div class="subtitle-box-historical col-3">
                Razón social
            </div>
            <div class="subtitle-box-historical col-3">
                Teléfono
            </div>
            <div class="subtitle-box-historical col-3">
                Dirección Web:
            </div>
            <div class="subtitle-box-historical col-12">
                Dirección:
            </div>
            <div class="subtitle-box-historical col-4">
                Total hectarias finca:
            </div>
            <div class="subtitle-box-historical col-4">
                Sistema de siembra finca:
            </div>
            <div class="subtitle-box-historical col-4">
                Fecha de siembra:
            </div>
            <div class="subtitle-box-historical col-4">
                Nombre del lote:
            </div>
            <div class="subtitle-box-historical col-4">
                Héctareas del lote:
            </div>
            <div class="subtitle-box-historical col-4">
                Tipo de siembra:
            </div>
            <div class="subtitle-box-historical col-4">
                Variedad:
            </div>
        </div>
    </div>
    
</div>