<div class="historical" id="contentToConvert" #contentToConvert>
  <div class="row no-gutters px-4 py-4">
    <img
      src="../../../assets/img/logo.png"
      class="col-3"
      style="width: 10rem; height: 5rem; flex: none"
    />
    <div class="col-9 ml-5 title-historical d-flex justify-content-start">
      Historial del lote {{ landsService.landSelected.batchs.name }} de la finca
      {{ landsService.landSelected.name }}
    </div>
  </div>
  <div class="box-historical">
    <div class="title-box-historical">Datos básicos de la finca:</div>
    <div class="info-box-historical row">
      <div class="subtitle-box-historical col-3">
        Nombre: {{ landsService.landSelected.name }}
      </div>
      <div class="subtitle-box-historical col-3">
        Razón social: {{ landsService.landSelected.business_name }}
      </div>
      <div class="subtitle-box-historical col-3">
        Teléfono: {{ landsService.landSelected.phone }}
      </div>
      <div class="subtitle-box-historical col-3">
        Dirección Web: {{ landsService.landSelected.web_page }}
      </div>
      <div class="subtitle-box-historical col-12">
        Dirección: {{ landsService.landSelected.direction }}
      </div>
      <div class="subtitle-box-historical col-4">
        Total hectáreas finca: {{ landsService.landSelected.hectares_total }}
      </div>
      <div class="subtitle-box-historical col-4">
        Sistema de siembra finca: {{ landsService.landSelected.sowing_system }}
      </div>
      <div class="subtitle-box-historical col-4">
        Fecha de siembra:
        {{ landsService.landSelected.created_date | date: "short" }}
      </div>
      <div class="subtitle-box-historical col-4">
        Nombre del lote: {{ landsService.landSelected.batchs.name }}
      </div>
      <div class="subtitle-box-historical col-4">
        Hectáreas del lote:
        {{ landsService.landSelected.batchs.hectares_number }}
      </div>
      <div class="subtitle-box-historical col-4">
        Tipo de siembra: {{ report.segments[0].type_sowing }}
      </div>
      <div class="subtitle-box-historical col-4">
        Variedad: {{ report.segments[0].variety }}
      </div>
    </div>
  </div>
  <div class="box-historical">
    <div class="title-box-historical">1. Fecha de siembra</div>
    <div>
      <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-center">
          Fecha propuesta: {{ report.segments[0].sowing_date | date: "short" }}
        </div>
        <div class="col-6 d-flex justify-content-center">
          Fecha real : {{ report.segments[0].real_date | date: "short" }}
        </div>
      </div>
      <div class="box-historical">
        <div class="row py-3 justify-content-center">
          <div class="col-4 d-flex justify-content-around">
            <img src="{{ report.segments[0].images[0] }}" height="290px" />
          </div>
          <div class="col-4 d-flex justify-content-around">
            <img src="{{ report.segments[1].images[1] }}" height="290px" />
          </div>
          <div class="col-4 d-flex justify-content-around">
            <img src="{{ report.segments[1].images[2] }}" height="290px" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="box-historical"
    *ngFor="let stage of report.segments | slice: 1:10"
  >
    <div class="title-box-historical">
      {{ stage.title }}
    </div>
    <div class="info-box-historical row">
      <div class="subtitle-box-historical col-4">
        Fecha de aplicación: {{ stage.application_date | date: "short" }}
      </div>
      <div class="subtitle-box-historical col-4">Fecha inicio de segmento: {{report.segments[1].start_traking_date | date: "short"}}</div>
      <div class="subtitle-box-historical col-4">Fecha fin de segmento: {{report.segments[1].end_traking_date | date: "short"}}</div>
    </div>
    <div class="row justify-content-center">
      <div class="observations d-flex justify-content-end col-1 pt-5">
        Observaciones: 
      </div>
      <div class="col-7 py-5">
        {{report.segments[1].observations}}
      </div>
    </div>
    <div class="box-historical">
      <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-around">
          <img src="{{ report.segments[1].images[0] }}" height="290px" />
        </div>
        <div class="col-4 d-flex justify-content-around">
          <img src="{{ report.segments[1].images[1] }}" height="290px" />
        </div>
        <div class="col-4 d-flex justify-content-around">
          <img src="{{ report.segments[1].images[2] }}" height="290px" />
        </div>
      </div>
    </div>
  </div>
</div>
