.historical {
  background-color: white;
  width: 100%;

  .title-historical {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  .secundary-title {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    width: 100%;
    padding: 20px;
  }

  .box-historical {
    position: relative;
    border: 2px solid #87b017;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;

    .title-box-historical {
      position: absolute;
      top: -15px;
      left: 20px;
      font-size: 20px;
      font-weight: bold;
      background-color: white;
      padding: 0 10px;
    }

    .info-box-historical {
      .subtitle-box-historical {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }
    }
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.observations {
    font-size: large;
    font-weight: bold;
    background-color: white;
    padding:10px;
  }